<!DOCTYPE html>
<html lang="pt-br" ng-app=anguLab>

	<head>
		<meta charset="utf-8">
		<title>lab-angular</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	</head>

	<body>
		<main ng-controller="HomeController as homeCtrl">
			<md-button class="md-raised md-primary" ng-click="homeCtrl.teste()" type="button">Material</md-button>
			<button type="button" ng-click="homeCtrl.teste()">Testar</button>
			<br/>
			<p>{{homeCtrl.response}}</p>
			<h3>{{result}}</h3>
			<p>------------------------------</p>
			<ng-datepicker locale="pt-br" ng-model="homeCtrl.dataTeste" style="display: inline-block;"
				i-prev-year="A">
			</ng-datepicker>
			<h2>{{homeCtrl.dataTeste}}</h2>
		</main>

		<!-- default scripts -->
		<script src="../app/lib/jquery-2.min.js"></script>
		<script src="../app/app.js"></script>
		<!--  -->
		<script src="home.js"></script>
	</body>
</html>