<!DOCTYPE html>
<html lang="pt-br" ng-app=anguLab>

	<head>
		<meta charset="utf-8">
		<title>lab-angular</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	</head>

	<body>
		<main ng-controller="HomeController as homeCtrl">
			<md-button class="md-raised md-primary" ng-click="homeCtrl.teste()" type="button">Material</md-button>
			<button type="button" ng-click="homeCtrl.teste()">Testar</button>
			<br/>
			<p>{{homeCtrl.response}}</p>
			<h3>{{result}}</h3>
			<p>------------------------------</p>
			<input type="text"/>
			<ng-datepicker locale="pt-br" ng-model="homeCtrl.dataTeste">
			<!--
				i-prev-year='<i class="material-icons prev-year-btn nav-button">first_page</i>'
				i-next-year='<i class="material-icons next-year-btn nav-button">last_page</i>'
				i-prev-month='<i class="material-icons prev-month-btn nav-button">chevron_left</i>'
				i-next-month='<i class="material-icons next-month-btn nav-button">chevron_right</i>'
			 -->
			</ng-datepicker>
			<h2>{{homeCtrl.dataTeste}}</h2>
		</main>

		<!-- default scripts -->
		<script src="../app/lib/jquery-2.min.js"></script>
		<script src="../app/app.js"></script>
		<!--  -->
		<script src="home.js"></script>
	</body>
</html>